package templates

templ DashboardPage() {
	<html>
		@head("Dashboard")
		@DashboardContent()
	</html>
}

templ DashboardContent() {
	<body>
		<h1>Dashboard</h1>
		<p>Welcome to the dashboard!</p>
	</body>
}
